<div class="skeleton-demo-card">
  <div class="image-box skeleton-shimmer"></div>
  <div class="content-side">
    <div class="header">
      <div class="avatar skeleton-shimmer"></div>
      <div class="title-lines">
        <div class="line w-40 skeleton-shimmer"></div>
        <div class="line w-20 skeleton-shimmer"></div>
      </div>
    </div>
    <div class="content">
      <div class="line w-full skeleton-shimmer"></div>
      <div class="line w-full skeleton-shimmer"></div>
      <div class="line w-80 skeleton-shimmer"></div>
    </div>
    <div class="footer">
      <div class="button skeleton-shimmer"></div>
      <div class="button skeleton-shimmer"></div>
    </div>
  </div>
</div>
